*{
    box-sizing: border-box;
    padding: 0;
}

/* header */
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: #3DCD58;
}

.menu {
    list-style-type: none;
   
    padding: 0;
}

.menu li {
    display: inline; 
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: #7A7A79;
    
}
.sidebar {
    height: 100%;
    width: 0;
    position: left;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: #3DCD58;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    
  }
  
  
  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  
  .closebtn {
    position: left;
    top: 0;
    left: 10px; 
    font-size: 36px;
    margin-right: 50px;
  }
  
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #009530;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 50px; 
    left: 35px; 
  }
  
  
  .openbtn:hover {
    background-color: #3DCD58;
  }
  
  
  #main2 {
    transition: .5s; 
  }
/* main */
.main{
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3,1);
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
.main button{
    border-radius: 15%;
    background-color: #009530;
    border: 0px;
    margin: 20px;
}
/*footer*/
footer {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
    background-color: #9fa0a4;
}

footer a{
    text-decoration: none;
    padding: 10px;
    color: black;
    margin: 10px;
    size: 20px;
}