*{
    box-sizing: border-box;
    padding: 0;
}

/* header */
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: #3DCD58;
}

.menu {
    list-style-type: none;
    margin-top: -50px; 

    padding: 0;
}

.menu li {
    display: inline; 
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: #7A7A79;
    
}
/* main */
.main{
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3,1);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background-color: aliceblue;
}
.main button{
    border-radius: 15%;
    background-color: #3DCD58;
    border: 0px;
    margin: 20px;
}
/*footer*/
footer{
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3,1);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background-color: #9fa0a4;
}